google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
youtube-transcript-api
moviepy 
SpeechRecognition
googletrans==4.0.0-rc1
librosa
pytube
pydub
opencv-python
pandas
numpy
matplotlib
openai==0.28.0
openai-whisper
pydantic
pydantic_settings
isodate
wrapt_timeout_decorator